* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Golos Text", sans-serif;
}

#app {
  height: 100%;
}


.header__title {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.header__content {
  position: relative;
  margin-top: 62px;

}

.header__title .header__subtitle {
  margin-top: 24px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.header {
  height: 700px;
  background-image: url("../img/header_desk.png");
  padding-top: 26px;
  position: relative;
  padding-inline: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.players__title {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.stages__plane_mob {
  right: -90px;
  bottom: 0;
  position: absolute;
}

/* Desktop */
@media (min-width: 1366px) {
  .desktop {
    display: block;
    width: 1222px;
    margin: auto;
  }

  .support__text {
    font-size: 36px;
  }

  .mobile {
    display: none;
  }

  .header__title {
    font-size: 60px;
  }

  .container_head {
    width: 542px;
  }

}

.support__text {
  color: #313131;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

#support-section {
  display: flex;
  justify-content: space-between;
}

.marquee {
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 24px;
  color: #fff;
  vertical-align: middle;
  background-color: #F54932;
  padding: 18px 0;
}

.marquee span {
  vertical-align: middle;
}

.marquee span::after {
  content: "";
  display: inline-block;
  margin-inline: 12px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #fff;
  margin-bottom: 5px;
  vertical-align: middle;
}

@media (max-width: 480px) {
  .marquee {
    font-size: 16px;
    padding: 10px;
  }
}


/* Mobile */
@media (max-width: 1365px) {
  .desktop {
    display: none;
  }

  .mobile {
    width: auto;
    margin: auto;
    display: block;
  }

  .support__text {
    font-size: 28px;
  }

  .header__title {
    font-size: 36px;
  }

  .header {
    padding-top: 18px;
    background: url("../img/header_mob.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
  }

  #tournir_details {
    margin-bottom: 291px;
  }

  .players__title {
    text-align: left;
    margin-left: 20px;
  }

  .carousel {
    position: relative;
  }

  .stages__plane {
    position: absolute;
    top: 103px;
    z-index: 1;
    width: 335px;
    height: 182px;
  }

}

s {
  text-decoration-color: #F54932;
}

a {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  color: #3057A2;
  display: inline-block;
}

@media (max-width: 480px) {
  a {
    font-size: 18px;
  }
}

.number {
  height: 36px;
  width: 36px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

#sesion_mob_img {
  justify-content: center;
}

#sesion_img {
  width: 474px;
  height: 527px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-out;
  transition-property: background-color, color;
}

.btn--common {
  border: none;
  height: 72px;
  padding: 15px 50px;
  border-radius: 36px;
  background-color: #1F1F1F;
  color: #fff;
}

@media (max-width: 480px) {
  .btn--common {
    padding-inline: 0 !important;
    align-items: center;
  }
}

.btn--common:hover {
  background: #FBCE51;
  color: #1F1F1F;
}

.btn--outline {
  outline: 2px solid #1F1F1F;
  outline-offset: -2px;
  background: transparent;
  color: #1F1F1F;
}

.btn--outline:hover {
  background: #1F1F1F;
  color: #fff;
}

.btn--circle {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 0;
  background: #1F1F1F;
}

@media (max-width: 480px) {
  .btn--circle {
    height: 36px;
    width: 36px;
  }
}

.btn--circle:hover {
  background: #FBCE51;
}

.btn--circle:disabled {
  background-color: #D6D6D6;
  cursor: not-allowed;
}

.btn--detailed {
  outline: 1px solid #3057A2;
  outline-offset: -1px;
  background: transparent;
  color: #3057A2;
  padding: 10px 12px;
  border-radius: 62px;
  line-height: 19px;
}

.btn--detailed:hover {
  background: #3057A2;
  color: #fff;
}



@media (max-width: 480px) {
  .header__subtitle {
    text-align: left;
    margin-top: 24px;
  }
}

.header__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.header__buttons>* {
  flex: 1;
}

@media (max-width: 480px) {
  .header__buttons {
    margin-top: 32px;
    flex-direction: column;

  }
}

.carousel__wrapper {
  display: flex;
}

.support {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  align-items: center;
}

@media (max-width: 900px) {
  .support {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .support {
    margin-top: 48px;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    font-size: 28px;
  }
}

@media (max-width: 900px) {
  .support__text {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .support__text {
    font-size: 28px;
    width: 100%;
  }
}

.support__text strong {
  color: #F54932;
}

@media (max-width: 480px) {
  .support__img {
    width: 100%;
  }
}

.session {
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 17px;
  align-items: flex-end;
}

@media (max-width: 1200px) {
  .session {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .session {
    margin-top: 34px;
    flex-direction: column;
    gap: 0;
  }
}

.session__title {
  text-transform: uppercase;
}

.session__content {
  margin-top: 47px;
  color: #313131;
  font-family: "Merriweather", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

@media (max-width: 480px) {
  .session__content {
    margin-top: 24px;
    font-size: 28px;
  }
}

.session__content strong {
  color: #F54932;
}

.session__list {
  margin: 60px 0 0;
  color: #313131;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 480px) {
  .session__list {
    margin-top: 44px;
  }
}

@media (min-width: 481px) {
  .session__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 481px) {

  .session__list dt:not(:first-of-type),
  .session__list dd:not(:first-of-type) {
    padding-top: 16px;
  }

  .session__list dt:not(:last-of-type),
  .session__list dd:not(:last-of-type) {
    border-bottom: 2px solid #D0D0D0;
    padding-bottom: 16px;
  }
}

.session__list dt {
  opacity: 0.7;
}

@media (max-width: 480px) {
  .session__list dt:not(:first-of-type) {
    padding-top: 16px;
  }
}

@media (min-width: 481px) {
  .session__list dt {
    border-right: 2px solid #D0D0D0;
    padding-right: 16px;
  }
}

.session__list dd {
  font-weight: 600;
  margin: 0;
}

@media (max-width: 480px) {
  .session__list dd {
    padding-top: 12px;
  }

  .session__list dd:not(:last-of-type) {
    border-bottom: 2px solid #D0D0D0;
    padding-bottom: 16px;
  }
}

@media (min-width: 481px) {
  .session__list dd {
    padding-left: 16px;
  }
}

.session__contact {
  margin-top: 48px;
}

@media (max-width: 480px) {
  .session__contact {
    margin-top: 40px;
  }
}

.stages {
  margin-top: 200px;
  color: #313131;
  font-family: "Merriweather", sans-serif;
  font-size: 54px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 480px) {
  .stages {
    margin-top: 120px;
    font-size: 36px;

  }
}

.stages__title {
  text-align: left;
  /* width: 800px; */
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .stages__title {
    width: 100%;
  }
}

.stages__title a {
  display: inline-block;
  width: 280px;
}

@media (max-width: 480px) {
  .stages__title a {
    margin-top: 12px;
  }
}

.stages__content {
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 480px) {
  .stages__content {
    padding-top: 148px;
    display: block;
    position: relative;
  }
}

.stages__content>div:nth-child(3) {
  grid-row: span 2;
}

.stages__content>div:nth-child(7) {
  padding-right: 285px;
  grid-column: span 2;
  position: relative;
}

.stages__wrapper {
  background: url("../img/bg-cell.png") #E9DED4;
  padding-top: 62px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 300px;
  width: 100%;
}

.slide {
  text-align: left;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Golos Text", sans-serif;
  background: url("../img/bg-cell.png") #E9DED4;
  counter-increment: stages__cell;
  gap: 16px;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;

}

@media (max-width: 480px) {
  .stages__cell {
    padding: 0 20px 0 20px;
    counter-increment: number;
  }
}

@media (max-width: 480px) {
  .stages__cell::before {
    content: counter(number);
  }
}

.stages .item3 {
  grid-row: span 2;
}

.players {
  margin: 200px 0 140px;
  font-size: 54px;
}

@media (max-width: 480px) {
  .players {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 36px;
  }
}

.players__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.players__buttons {
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: inline-flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}

@media (max-width: 480px) {
  .players__buttons {
    margin-top: 40px;
  }
}

.players__wrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.players__count {
  opacity: 0.6;
}

.players__container {
  margin-top: 60px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 480px) {
  .players__container {
    margin-top: 40px;
  }
}

.player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Golos Text", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 0 37px;
}

@media (max-width: 480px) {
  .player {
    padding: 0 0;
  }

}

.player__name {
  margin-top: 28px;
}

.player__status {
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  background-color: #E9DED4;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 40px 72px 72px;
}

@media (max-width: 480px) {
  .footer {
    padding: 40px 20px 60px 20px;
  }
}

.carousel {
  overflow: hidden;
}

.carousel__inner {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 480px) {
  .carousel__inner {
    position: relative;
    counter-reset: number 0;
  }
}

.carousel__slide {
  display: inline-block;
  flex-shrink: 0;
  margin: 0 auto;
}

.carousel__bullet {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #D9D9D9;
}

.carousel__bullet--active {
  background: #1F1F1F;
}

@media (max-width: 480px) {
  main {
    padding-inline: 20px;
  }
}

td {
  padding: 0;
}


.marquee {
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 24px;
  color: #fff;
  vertical-align: middle;
  background-color: #F54932;
  padding: 18px 0;
}

.marquee span {
  vertical-align: middle;
}

.marquee span::after {
  content: "";
  display: inline-block;
  margin-inline: 12px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #fff;
  margin-bottom: 5px;
  vertical-align: middle;
}

@media (max-width: 480px) {
  .marquee {
    font-size: 16px;
    padding: 10px;
  }
}

s {
  text-decoration-color: #F54932;
}

a {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  color: #3057A2;
  display: inline-block;
}

@media (max-width: 480px) {
  a {
    font-size: 18px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-out;
  transition-property: background-color, color;
}

.btn--common {
  border: none;
  height: 72px;
  padding: 15px 50px;
  border-radius: 36px;
  background-color: #1F1F1F;
  color: #fff;
}

@media (max-width: 480px) {
  .btn--common {
    padding-inline: 0 !important;
    align-items: center;
  }
}

.btn--common:hover {
  background: #FBCE51;
  color: #1F1F1F;
}

.btn--outline {
  outline: 2px solid #1F1F1F;
  outline-offset: -2px;
  background: transparent;
  color: #1F1F1F;
}

.btn--outline:hover {
  background: #1F1F1F;
  color: #fff;
}

.btn--circle {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 0;
  background: #1F1F1F;
}

@media (max-width: 480px) {
  .btn--circle {
    height: 36px;
    width: 36px;
  }
}

.btn--circle:hover {
  background: #FBCE51;
}

.btn--circle:disabled {
  background-color: #D6D6D6;
  cursor: not-allowed;
}

.btn--detailed {
  outline: 1px solid #3057A2;
  outline-offset: -1px;
  background: transparent;
  color: #3057A2;
  padding: 10px 12px;
  border-radius: 62px;
  line-height: 19px;
}

.btn--detailed:hover {
  background: #3057A2;
  color: #fff;
}

.session {
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 17px;
}

@media (max-width: 1200px) {
  .session {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .session {
    margin-top: 34px;
    flex-direction: column;
    gap: 0;
  }
}

.session__title {
  text-transform: uppercase;
}

.session__content {
  margin-top: 47px;
  color: #313131;
  font-family: "Merriweather", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

@media (max-width: 480px) {
  .session__content {
    margin-top: 24px;
    font-size: 28px;
  }
}

.session__content strong {
  color: #F54932;
}

.session__list {
  margin: 60px 0 0;
  color: #313131;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 480px) {
  .session__list {
    margin-top: 44px;
  }
}

@media (min-width: 481px) {
  .session__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 481px) {

  .session__list dt:not(:first-of-type),
  .session__list dd:not(:first-of-type) {
    padding-top: 16px;
  }

  .session__list dt:not(:last-of-type),
  .session__list dd:not(:last-of-type) {
    border-bottom: 2px solid #D0D0D0;
    padding-bottom: 16px;
  }
}

.session__list dt {
  opacity: 0.7;
}

@media (max-width: 480px) {
  .session__list dt:not(:first-of-type) {
    padding-top: 16px;
  }
}

@media (min-width: 481px) {
  .session__list dt {
    border-right: 2px solid #D0D0D0;
    padding-right: 16px;
  }
}

.session__list dd {
  font-weight: 600;
  margin: 0;
}

@media (max-width: 480px) {
  .session__list dd {
    padding-top: 12px;
  }

  .session__list dd:not(:last-of-type) {
    border-bottom: 2px solid #D0D0D0;
    padding-bottom: 16px;
  }
}

@media (min-width: 481px) {
  .session__list dd {
    padding-left: 16px;
  }
}

.session__contact {
  margin-top: 48px;
}

@media (max-width: 480px) {
  .session__contact {
    margin-top: 40px;
  }
}


@media (max-width: 480px) {
  .stages {
    margin-top: 120px;
    font-size: 36px;
  }
}

.stages__title a {
  display: inline-block;
  width: 280px;
}

@media (max-width: 480px) {
  .stages__title a {
    margin-top: 12px;
  }
}

.stages__content {
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 480px) {
  .stages__content {
    padding-top: 148px;
    display: none;
    position: relative;
  }
}

.stages__content>div:nth-child(3) {
  grid-row: span 2;
}

.stages__content>div:nth-child(7) {
  padding-right: 285px;
  grid-column: span 2;
  position: relative;
}


.stages__cell {
  text-align: left;
  display: flex;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Golos Text", sans-serif;
  background: url("../img/bg-cell.png") #E9DED4;
  counter-increment: stages__cell;
  gap: 16px;
}

@media (max-width: 480px) {
  .stages__cell {
    padding: 0 20px 0 20px;
    counter-increment: number;
  }
}

.stages__cell::before {
  content: counter(stages__cell);
  display: block;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  color: #1F1F1F;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .stages__cell::before {
    content: counter(number);
  }
}

.stages .item3 {
  grid-row: span 2;
}
